html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



/*
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
*/

.font-a {
	font-family: 'Noto Sans', sans-serif;
}

.font-b {
	font-family: 'Archivo Black', sans-serif;
}
















.flexColumn {
	display: flex;
	flex-direction: column;
}

.flexRow {
	display: flex;
	flex-direction: row;
}

.justifyAlignCenter {
	justify-content: center;
	align-items: center;
}

.justifyAlignStartCenter {
	justify-content: flex-start;
	align-items: center;
}



/*flexColumn justifyAlignCenter*/


/*flexRow justifyAlignCenter*/
/*flexRow justifyAlignStartCenter*/













.button-a {
	/*width: 200px;*/
	height: 40px;
	background-color: #269ed5;
	color: #fff;
	text-decoration: none;
	padding: 0 40px;
	transition: 0.3s;

	-webkit-border-radius:70px 70px;
	-moz-border-radius:70px 70px;
	border-radius: 70px 70px;
}

.button-a:hover {
	color: #269ed5;
	background-color: white;
	transition: 0.3s;

	-webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.button-b {
	/*width: 200px;*/
	height: 40px;
	background:  transparent;
	color: #fff;
	text-decoration: none;
	padding: 0 40px;
	transition: 0.3s;
	border: 1px solid white;

	-webkit-border-radius:70px 70px;
	-moz-border-radius:70px 70px;
	border-radius: 70px 70px;
}

.button-b:hover {
	color: #269ed5;
	background-color: white;
	border: 1px solid #269ed5;
	transition: 0.3s;
}


.button-details {
	height: 20px;
	/*background-color: #269ed5;*/
	color: darkorange;
	text-decoration: none;
	padding: 0 40px;
	font-size: 15px;
}

































#navCon {
	width: 100%;
	height: 50px;
	background-color: white;
	position: fixed;
	border-bottom: 2px solid #269ed5;
}

.navCon {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

	.navbar {
		display: flex;
		flex-direction: row;
		align-items: center;

		text-decoration: none;
	}

	.navbar a {
		/*height: 50px;*/
		/*display: block;*/
		/*text-align: center;*/
		text-decoration: none;
		/*padding: 0px 20px 0px 20px;*/
		padding: 0 20px;
		transition: 0.3s;

		/*font-family: 'Alfa Slab One', cursive;*/
		/*font-family: 'Sniglet', cursive;*/
		font-family: 'Noto Sans', sans-serif;
		text-align: center;
		font-size: 13px;
		color: black;
	}


		.nav-part-a {
			width: 70%;
			/*background-color: green;*/
		}

				.btnForNav-c {
					background-color: white;
					color: violet;
					text-decoration: none;
					/*padding: 12px 5px;*/
					padding: 15px 5px;
					transition: 0.3s;
				}

				.btnForNav-c:hover {
					background-color: #269ed5;
					transition: 0.3s;
				}


		.nav-part-b {
			width: 20%;
			/*background-color: pink;*/

			display: flex;
			flex-direction: row;
			justify-content: flex-end;
		}


				.btnForNav-a {
					width: 150px;
					height: 40px;
					background-color: #269ed5;
					color: violet;
					text-decoration: none;
					margin: 0 5px;
					transition: 0.3s;

					-webkit-border-radius:5px 5px;
					-moz-border-radius:5px 5px;
					border-radius: 5px 5px;
				}

				.btnForNav-a:hover {
					background-color: white;
					transition: 0.3s;
				}

				.btnForNav-b {
					width: 150px;
					height: 40px;
					background-color: rgba(255, 255, 255, 0.0);
					color: #269ed5;
					text-decoration: none;
					border: 2px solid #269ed5;
					margin: 0 5px;
					transition: 0.3s;

					-webkit-border-radius:5px 5px;
					-moz-border-radius:5px 5px;
					border-radius: 5px 5px;
				}

				.btnForNav-b:hover {
					background-color: white;
					border: none;
					transition: 0.3s;
				}

























#spaceForNavCon {
	width: 100%;
	height: 50px;
	/*background-color: yellow;*/
}





















.footer {
	width: 100%;
	height: 90vh;
	background-color: #269ed5;
	color: white;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

		.footer-a {
			width: 100%;
			height: 10vh;
			background-color: white;
			-webkit-border-radius: 0px 0px 70px 70px ;
			-moz-border-radius: 0px 0px 70px 70px;
			border-radius: 0px 0px 70px 70px;
		}

		.footer-b {
			width: 100%;
			height: 75vh;
			/*background-color: dodgerblue;*/
		}

				.footer-ba {
					width: 50%;
					height: 75vh;

					/*background-color: yellow;*/
				}

						.footer-baa {
							width: 100%;
							height: 55vh;

							justify-content: space-evenly;
							align-items: center;
							/*background-color: lightyellow;*/
						}



								.footer-baa-card-a {
									width: 30%;
									height: 50vh;
									/*margin: 0 10px;*/
									padding: 10px 20px;
									font-size: 16px;
									/*background-color: mediumblue;*/
								}

												.footer-baa-card-a h5 {
													font-size: 20px;
												}

										.footer-baa-card-subA {	
											height: 15%;

											display: flex;
											flex-direction: column;
											justify-content: center;
											align-items: flex-start;
											/*background-color: red;*/
										}

										.footer-baa-card-subB {	
											height: 50%;
										}

										.footer-baa-card-subC {	
											height: 20%;
											/*background-color: red;*/

/*											justify-content: space-evenly;
											align-items: center;*/
										}


						.footer-bab {
							width: 100%;
							height: 20vh;

							/*background-color: lightgreen;*/
						}

								.footer-bab span {
									font-size: 30px;
									color: white;
								}

								.footer-bab p {
									font-size: 14px;
									color: white;
								}

								.footer-bab input {
/*									width: 50%;
									padding: 12px 20px;
									margin: 8px 0;
									display: inline-block;
									border: 1px solid white;
									border-radius: 4px;
									box-sizing: border-box;
									background: transparent;
									color: white;*/

									color: white;
									/*font-family: 'Sniglet', cursive;*/
									font-weight:500;
									font-size: 14px;
									line-height: 22px;
									background-color: transparent;
									border-bottom: 2px solid white;
									border-top: none;
									border-right: none;
									border-left: none;
									transition: all 0.3s;
									padding: 12px 20px;
									margin: 8px 0;
									width: 50%;
									/*box-sizing: border-box;*/
									outline:0;
								}

								.footer-bab:focus { 
									border: 2px solid #ab3b52; 
								}




								*::-webkit-input-placeholder {
								    color: white;
								}
								*:-moz-placeholder {
								    /* FF 4-18 */
								    color: white;
								    opacity: 1;
								}
								*::-moz-placeholder {
								    /* FF 19+ */
								    color: white;
								    opacity: 1;
								}
								*:-ms-input-placeholder {
								    /* IE 10+ */
								    color: white;
								}
								*::-ms-input-placeholder {
								    /* Microsoft Edge */
								    color: white;
								}
								*::placeholder {
								    /* modern browser */
								    color: white;
								}


				.footer-bb {
					width: 20%;
					height: 75vh;

					/*background-color: yellowgreen;*/
				}

						.footer-bba {
							width: 100%;
							height: 75vh;
							padding: 0 40px;

							border-left: 1px solid white;
							/*background-color: powderblue;*/
						}

								.footer-bba-a {	
									height: 15%;
									/*background-color: red;*/
								}

								.footer-bba-b {	
									height: 70%;
								}

										.footer-bba-b a {
												display: block;
												/*text-align: center;*/
												text-decoration: none;
												padding: 5px 20px 0px 20px;

												/*font-family: 'Alfa Slab One', cursive;*/
												/*font-family: 'Sniglet', cursive;*/
												/*font-family: 'Noto Sans', sans-serif;*/
												text-align: left;
												font-size: 16px;
												color: white;
												transition: 0.3s;
										}

										.footer-bba-b a:hover {
											color: darkorange;
											transition: 0.3s;
											-webkit-text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
											-moz-text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
											text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
										}

								.footer-bba-c {	
									height: 15%;
									/*background-color: red;*/

									justify-content: space-evenly;
									align-items: flex-start;
								}


										.footer-bba-c a {
											transition: 0.3s;
										}

										.footer-bba-c a:hover {
											transition: 0.3s;
											-webkit-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
											-moz-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
											box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);

											-webkit-border-radius:30px 30px;
											-moz-border-radius:30px 30px;
											border-radius: 30px 30px;
										}



		.footer-c {
			width: 75%;
			height: 5vh;
			border-top: 1px solid white;
			/*margin: auto;*/
			/*background-color: steelblue;*/
		}

				.footer-c-a {
					height: 5vh;
					/*background-color: steelblue;*/
				}




















* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

section {
	height: 100vh;
}

/*mobile style*/
@media only screen and (max-width:400px){
	section {
		background-color: blue;
	}
}

/*tablet style*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	section {
		background-color: red;
	}
}

/*desktop style*/
@media only screen and (min-width: 961px) {
	section {
		background-color: yellow;
	}
}