#bannerCon {
	width: 100%;
	height: 90vh;
	background-color: #f6faff;

	display: flex;
	flex-direction: column;
	align-items: center;
}

	.bannerSpace {
		width: 70%;
		height: 5%;

		/*background-color: blueviolet;*/
	}

	.bannerForContentCon {
		width: 70%;
		height: 70%;
		color: #269ed5;
		/*background-color: yellowgreen;*/

		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		/*align-items: center;*/
	}

			.bannerForContentCon-a {
				width: 50%;
				/*background-color: lightpink;*/
			}

					.bannerForContentCon-aa {
						font-size: 50px;
					}

					.bannerForContentCon-ab {
						font-size: 17px;
						margin: 10px 0;
					}

			.bannerForContentCon-b {
				width: 50%;
				/*background-color: hotpink;*/

				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
			}
					.bannerForContentCon-b-pic1 {
						width: 600px;
						height: 400px;
						/*background-color: lightgray;*/
						/*background-image: url("../images/chatSample.png");*/

						-webkit-border-radius:20px 20px;
						-moz-border-radius:20px 20px;
						border-radius: 20px 20px;
					} 

	.bannerForButtons {
		width: 70%;
		height: 20%;
		/*background-color: cornsilk;*/

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

			.bannerForButtons a {
				margin: 5px 0;
			}































































#weProvideCon {
	width: 100%;
	height: 150vh;
}

.weProvideForContentCon {
	width: 100%;
	height: 150vh;
	/*background-color: yellowgreen;	*/

	display: flex;
	flex-direction: column;
}

		.weProvideCon-a {
			width: 100%;
			height: 50vh;
			background-color: #269ed5;
			/*background-color: red;*/
		}

				.weProvideCon-a span {
					color: white;
					font-size: 30px;
				}

				.weProvideCon-aa {
					width: 80%;
					margin: 50px 0;
					/*background-color: red;*/

					justify-content: space-evenly;
				}

				.weProvideCon-ab {
					/*margin-top: 40px;*/
				}



		.weProvideCon-b {
			width: 100%;
			height: 30vh;
			/*background-color: greenyellow;*/
		}

				.weProvideCon-ba {
					width: 90%;
					height: 30vh;
					padding: 0 0 0 20px;

					/*justify-content: center;*/
					/*background-color: deeppink;*/
				}

						.weProvideCon-ba span {
							font-size: 45px;
							color: #269ed5;
						}

						.weProvideCon-ba p {
							font-size: 20px;
							color: darkorange;
						}


		.weProvideCon-c {
			width: 100%;
			height: 70vh;
			/*background-color: hotpink;*/

			background-image: url("../images/bannerBg01.png");
			background-repeat: no-repeat;
			background-size: contain, cover;
		}

				.weProvideCon-ca {
					width: 35%;
					height: 70vh;
					/*background-color: gray;*/

						display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					align-items: center;
				}

				.weProvideCon-cb {
					width: 35%;
					height: 70vh;
					/*background-color: ghostwhite;*/

					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					align-items: center;
				}

						.weProvideCon-cards {
							width: 95%;
							height: 30ch;
							/*background-color: skyblue;*/

							display: flex;
							flex-direction: row;
							justify-content: space-evenly;
							align-items: center;

							transition: 0.3s;
							border: 1px solid lightgray;
						}

						.weProvideCon-cards:hover {
							border: 3px solid #269ed5;
							transition: 0.3s;

							-webkit-box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.1);
							-moz-box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.1);
							box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.1);

							-webkit-border-radius:30px 30px;
							-moz-border-radius:30px 30px;
							border-radius: 30px 30px;
						}

								.weProvideCon-cards-texts {
									width: 70%;
									/*background-color: cadetblue;*/
								}

										.weProvideCon-cards-texts span {
											font-size: 25px;
										}